.denglu{
	width: 1130px;margin: 0 auto;
}
.middle{
	height: 400px;
	background: url(../imgs/ba.jpg) no-repeat -630px -50px;
}

.middle_1{
	width: 1130px;
	margin: 0 auto;
}

.form{
	float: right;
	width: 410px;
	height: 400px;
	background: #fff;
}

.form ul li{
	float: left;
}

.form ul{
	width: 65%;
	margin: 0 auto;
}

.form ul li{
	text-align: center;
	font-size: 24px;
	color: #E0E0E0;
}

.den{
	color: #F56600;
}

.zhu{
	color: #666;
}

.zhu:hover{
	color: #F56600;
}


.form_1{
	margin-top: 90px;
}

.form_2{
	margin:0 auto;
	width:80%;
}
input{
	border:1px solid #E0E0E0;
	width: 300px;
	height: 25px;
	line-height: 25px;
	padding: 13px 16px 13px 14px;
	margin-top: 10px;
}

input:focus{
	outline:none;
}
.submit{
	background:#EF5B00;
	cursor:pointer;
	width:333px;
	height:48px;
	border:1px solid #EF5B00;
	color:#fff;
}